extends /layouts/admin

block content
  .container.py-5
    if artwork
      h1.h3.mb-4= `Sale: ${artwork.title}`
      p
        b Artist:
        |  #{artwork.artist && artwork.artist.name}
      p
        b State:
        |  #{artwork.availability}
      if saleInfo
        h2.h5.mt-4 Sales detail
        ul
          if saleInfo.price
            li Precio: $#{saleInfo.price}
          if saleInfo.date
            li Date: #{saleInfo.date}
          if saleInfo.buyer
            li Buyer: #{saleInfo.buyer}
    else
      .alert.alert-warning Sale not found

