// Modal de acciones por usuario (usa variable local `u`)
.modal.fade(id=`userActions-${u._id}` tabindex='-1' aria-labelledby=`userActionsLabel-${u._id}` aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        h5.modal-title(id=`userActionsLabel-${u._id}`) Acciones - #{u.name}
        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
      .modal-body
        h2.fs-5 Acciones de seguridad
        p
          button.btn.btn.warning.admin-reset-pass(type='button' data-user-id=u._id aria-label='Resetear contraseña')
            i.fas.fa-key.me-1
            | Resetear contraseña
        hr
        h2.fs-5 Cambiar rol
        .d-flex.gap-2.flex-wrap
          if u.role !== 'collector'
            button.btn.btn-secondary.admin-promote(type='button' data-user-id=u._id data-role='collector' aria-label='Cambiar a coleccionista')
              i.fas.fa-arrow-down-long.me-1
              | Cambiar a Coleccionista
          if u.role !== 'artist'
            button.btn.btn-success.admin-promote(type='button' data-user-id=u._id data-role='artist' aria-label='Cambiar a artista')
              i.fas.fa-arrow-up-right-dots.me-1
              | Cambiar a Artista
          if u.role !== 'admin'
            button.btn.btn-danger.admin-promote(type='button' data-user-id=u._id data-role='admin' aria-label='Cambiar a administrador')
              i.fas.fa-user-shield.me-1
              | Cambiar a Administrador
        hr
        h2.fs-5 Estado de la cuenta
        p
          if u.active === false
            button.btn.btn-success.admin-toggle-active(type='button' data-user-id=u._id data-action='reactivate' aria-label='Reactivar usuario')
              i.fas.fa-user-check.me-1
              | Reactivar cuenta
          else
            button.btn.btn-outline-secondary.admin-toggle-active(type='button' data-user-id=u._id data-action='deactivate' aria-label='Desactivar usuario')
              i.fas.fa-user-slash.me-1
              | Desactivar cuenta
      .modal-footer
        // Usar ID para que la vista pública canonicé al slug actual
        a.btn.btn-outline-secondary.admin-users-public-link(target='_blank' href=`/artists/${u._id}`)
          i.fas.fa-user.me-1
          | Ver público
        button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Cerrar
