extends /layouts/admin

block content
  .container.py-5
    if user
      h1.h3.mb-4= user.name
      .row
        .col-md-6
          dl
            dt Mail
            dd= user.email
            dt Role
            dd= user.role
            dt Asset
            dd= (user.active === false ? 'No' : 'Yes')
            dt Created
            dd= new Date(user.createdAt).toLocaleDateString('es-ES')
        .col-md-6
          if user.profileImage
            img.img-fluid.rounded(src=user.profileImage alt='profile photo')
    else
      .alert.alert-warning User not found

